@import '../../scss/variables';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

.root {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 15%;

  span {
    font-family: 'Montserrat', sans-serif;
  }

  &__intro {
    font-size: 3rem;
    color: fuchsia;
    cursor: pointer;
  }
  &__describe {
    color: $white;
  }
}

@media only screen and (max-width: 600px) {
  .root {
    text-align: center;
  }
}
